footer{
    margin-bottom: 0;
    padding-bottom: 0;
    border-top:1px solid rgba(172, 168, 168, 0.507);
    margin-top:4rem;
  }
  .footer-top p{
  color: var(--white);
  letter-spacing:0.18rem;
}
footer h2,h3{
  color: var(--base);
}

.footer-top{
  background: var(--black);
  padding: 1.5rem 0.4rem ;
}
footer a{
  text-decoration: none;
  color: var(--white);
  transition: 0.25s;
}
.segment-one h3{
  letter-spacing: 0.4rem ;
}

.segment-two h2::before{
  content: '|';
  color:var(--white);
  padding-right: 0.9rem;
}

.segment-two ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.segment-two ul li{
 border-bottom: 1px solid var(--white);
 line-height: 3rem;
}

.segment-two ul li a:hover{
 font-size: 1.2rem ;
 color:rgb(255, 255, 255);
 font-weight: bold;
}



.segment-two{
  padding-right: 2rem;
  margin-bottom: 1rem;
}

.segment-three h2::before{
  content: '|';
  color:var(--white);
  padding-right: 0.9rem;
}

.segment-three .span1:hover{
color: rgb(19, 205, 230);
}
.segment-three .span2:hover{
color: rgb(0, 132, 255);
}
.segment-three .span3:hover{
color: rgb(88, 91, 92);
}
.segment-three .span4:hover{
color: rgb(11, 87, 158);
}
.segment-three .span5:hover{
color: rgb(151, 15, 22);
}
.segment-three .span6:hover{
color: rgb(5, 75, 28);
}
.footer-bottom-text{
  text-align:center;
  color:var(--white);
  background: #000;
  padding: 1.44rem 0 ;
  letter-spacing:0.18rem;
  margin-bottom: 0;
  font-size: 12px;
}