body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0.85rem;
  border-radius: 1rem;

}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset -1px 14px 31px -1px rgba(65, 64, 62, 0.92); 
  box-shadow: inset -1px 14px 31px -1px rgba(65, 64, 62, 0.92); 

}



::-webkit-scrollbar-thumb {
background:rgba(209, 184, 70, 0.92);
border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
background:rgb(255, 208, 0);
}

